<p>
 My name is Brandon D'Alleva, and I would like to give you a bit of my background.
</p>
<p>
  While I am currently located in Indianapolis, I had lived in New York for my entire life prior to tje move back in July 2018. 
  It was a huge undertaking, and has presented many challenges, but I am regardless glad that I took the leap. I have not only learned
  a great deal of independence, but my current employment has provided me with many resources to continually allow me to grow and expand
  my knowledge of programming.
</p>