<div>
  <p>
    My name is Brandon D'Alleva, and I would like to give you a bit of my background.
   </p>
</div>
<div>
  <p>
    While I am currently located in Indianapolis, I had lived in New York for my entire life prior to the move back in July 2018. 
    It was a huge undertaking, and has presented many challenges, but I am regardless glad that I took the leap. I have not only learned
    a great deal of independence, but my current employment has provided me with many resources to continually allow me to grow and expand
    my knowledge of programming.
  </p>  
  <p>
    Geico has not only been a great place to work because of my team and co-workers, but also because of the support through mentorship. Furthermore,
    Geico has provided developers with resources to learn, such as access to Pluralsight and 
  </p>
</div>

<!-- <div>
  <h4>Contact Me</h4>
Maybe put a text box here and send to email?
</div> -->
